.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono';
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #ffffff;
}

button {
  font-family: 'Roboto Mono';
  padding: 10px;
  border-radius: 20px;
  border: white;
  font-size: 14px;
}

textarea {
  border: white;
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

